body {
    margin: 25px;
    background-color: #bdcad9;
}

h1,
h2,
h3 {
    color: whitesmoke;
    font-size: 30px;
}

h1 {
    text-align: center;
    font-size: 50px;
    text-transform: capitalize;
}

h6 {
    font-size: 50px;
}

button {
    border: 0.1 solid black;
    position: justify;
    background: grey;
    margin: 15px 5px;
}

h6 {
    font-size: 90px;
    margin-left: 8px;
    color: wheat;
}

footer {
    color: whitesmoke;
    cursor: default;
    opacity: 90%;
    font-size: 13px;
    text-align: center;
}

.githubLink {
    color: rgb(46, 154, 222);
}

.githubLink:hover {
color: rgb(184, 224, 249);
transition: all 200ms ease-in-out;
text-decoration: underline;
}


#current-city-btn {
    margin: 10px;
    padding: 5px 60px;
    display: block;
    height: 30px;
    border: transparent;
    background: transparent;
    color: rgb(218, 44, 44);
    font-weight: 600;
}

#current-city-btn:hover {
    color: whitesmoke;
    transition: all 200ms ease-in-out;
    border: transparent;
    background: transparent;
    border-style: none;
}

#celsius-icon,
#fahrenheit-icon,
#current-temperature {
    font-size: 20px;
}

.col-7 {
    margin: 8px;
    padding: 8px;
}

a {
    color: whitesmoke;
    text-decoration: none;
    transition: all 200ms ease-in-out;
}

a:hover {
    color: black;
    opacity: 20%;
}

.input-group {
    margin: 5px -5px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    border: 0.1 solid black;
    width: 300px;
    height: 15px;
    position: justify;
}

.main-container {
    display: block;
    margin: 0 auto;
    padding: 25px;
    width: 800px;
    border: 1px solid black;
    background-color: #130f40;
    background-image: linear-gradient(350deg, #130f40 0%, #000000 64%);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    border-radius: 5%;
}

.container-3 {
    text-align: center;
    border-radius: 5%;
}

.card-body {
    border: 0.5 solid black;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    text-align: center;
}

.card-text {
    position: justify;
}

.card-header {
    text-align: center;
}

.card {
    border-radius: 8%;
}

.container-3 .card:hover {
    opacity: 70%;
    transition: all 200ms ease-in-out;
}
